<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active {
            background: gray;
        }

        .liked {
            background: gray;
        }

        .card {
            width: 200px;
            background: #ccc;
            padding: 10px;
            margin: 5px;
        }

        .panel {
            max-width: 300px;
            border: 1px solid black;
            margin: 15px;
        }

        .panel > * {
            padding: 15px;
        }

        .panel .title {
            border-bottom: 1px solid #999;
        }

        .panel .footer {
            border-top: 1px solid #999;
        }
    </style>
</head>

<body>
    <div id="name">
        <div>
            <input type="text" v-model="name">
            <span v-show="name">你的名字是:{{name}}</span>
        </div>
        <div>
            <input type="text" v-model="age">
            <span v-show="age">你的年龄是:{{age}}</span>
        </div>
        <div>
            <input type="text" v-model="sex">
            <span v-show="sex">你的性别是:{{sex}}</span>
        </div>
    </div>
    <div id='vfor'>
        <ul>
            <li v-for="food in foodList">
                {{food.name}}:{{food.discount? food.price*food.discount:food.price}}元
            </li>
        </ul>
    </div>
    <div id="vbind">
        <!-- <a v-bind:class='{active: isActive}' v-bind:href="url" target="_blank"> -->
        <a :class='{active: isActive}' :href="url" target="_blank">
            <!-- <img v-bind:src="img" alt="" > -->
            点我
        </a>
    </div>
    <div id="von">
        <button v-on='{mouseenter:onEnter,mouseleave:onOut}' v-on:click='onClick'>click</button>
        <!-- <form v-on:keyup.enter='onEnter' v-on:submit.prevent='onSubmit'> -->
        <form @keyup.enter='onEnter' @submit.prevent='onSubmit'>
            <input type="text">
            <button type="submit">提交</button>
        </form>
    </div>
    <div id="compute">
        <table border="1">
            <thead>
                <th>学科</th>
                <th>分数</th>
            </thead>
            <tbody>
                <tr>
                    <td>数学</td>
                    <td>
                        <input type="text" v-model.lazy='math'>
                    </td>
                </tr>
                <tr>
                    <td>英语</td>
                    <td>
                        <input type="text" v-model.lazy='english'>
                    </td>
                </tr>
                <tr>
                    <td>物理</td>
                    <td>
                        <input type="text" v-model.lazy='physics'>
                    </td>
                </tr>
                <tr>
                    <td>总分</td>
                    <td>{{sum}}</td>
                </tr>
                <tr>
                    <td>平均分</td>
                    <td>{{average}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="segment">
        <alert></alert>
        <alert></alert>
    </div>
    <div id="likeit">
        <like></like>
    </div>
    <div id="users">
        <user username="whh"></user>
    </div>
    <div id="balance">
        <balance></balance>
    </div>
    <div id="connect">
        <huahua></huahua>
        <shuandan></shuandan>
    </div>
    <div id="filt">
        <div>
            <input type="text" v-model="price"> {{price|currency('USD')}}
        </div>
        <div>
            <input type="text" v-model="length">mm {{length|meter}}
        </div>
    </div>
    <div id="pin">
        <div v-pin:true.top.left="card1.pinned" class="card">
            <button @click="card1.pinned=!card1.pinned">钉住/取消</button>
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </div>
        <div v-pin.bottom.right="card2.pinned" class="card">
            <button @click="card2.pinned=!card2.pinned">钉住/取消</button>
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </div>
        <div v-pin.top.right="card3.pinned" class="card">
            <button @click="card3.pinned=!card3.pinned">钉住/取消</button>
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </div>
    </div>
    <div id="mix">
        <tooltip></tooltip>
        <popup></popup>
    </div>
    <div id="slot">
        <panel>
            <div slot="title">Yooooo~</div>
            <div slot="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, incidunt!</div>
            <div slot="footer">More</div>
        </panel>
        <panel></panel>
    </div>
    <template id="panel-tpl">
        <div class="panel">
            <div class="title">
                <slot name="title">yo</slot>
            </div>
            <div class="content">
                <slot name="content">WEOIRU WNGLU OIURWRO PIDLFGFJOAWI UERJSFLAUE ROIUFKOUIR</slot>
            </div>
            <div class="footer">
                    <slot name="footer">更多信息</slot>
            </div>
        </div>
    </template>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>